extends scss, css

snippet imp "@import"
@import "$1";
endsnippet

snippet inc "@include"
@include "$1";
endsnippet

snippet ext "@extend"
@extend $1;
endsnippet

snippet mix "@mixin"
@mixin $1($2){
  $3
}
endsnippet

snippet square "Square object"
$1: $2;
height: $1;
max-height: $1;
max-width: $1;
min-height: $1;
min-width: $1;
width: $1;
endsnippet

snippet rect "Rectangle object"
$1: $2;
$3: $4;
height: $3;
max-height: $3;
max-width: $1;
min-height: $3;
min-width: $1;
width: $1;
endsnippet
