[user]
  name = NKBelousov
  email = belousovnikita92@gmail.com
[advice]
  statusHints = false
  pushNonFastForward = false
[alias]
  ##### Logs & History
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)[%an]%Creset' --abbrev-commit --date=short
  lga = "!f() { git lg --all $@; }; f"
  lgs = "!f() { git lg --stat $@; }; f"
  lgas = "!f() { git lga --stat $@; }; f"
  whatadded = "!f() { git lga --abbrev-commit --date=short --diff-filter=A -- }; f"
  filelog = log -u
  ##### Branching
  bc = checkout -b
  bd = branch -D
  bl = branch --all
  ##### Staging
  theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"
  ours = "!f() { git checkout --ours $@ && git add $@; }; f"
  undo = checkout -p
  unstage = reset HEAD --
  ##### Stashing
  sl = stash list
  sd = "!f() { git stash drop stash@{$1}; }; f"
  sp = "!f() { git stash pop stash@{$1}; }; f"
  ss = "!f() { git stash save -u $1; }; f"
  sv = "!f() { git stash show -p stash@{$1}; }; f"
  sa = "!f() { git stash apply stash@{$1}; }; f"
  ##### Cherry-picking
  cp = cherry-pick
  cpa = cherry-pick --abort
  cpc = cherry-pick --continue
  ##### Fetching
  fa = fetch --all --prune
  fu = fetch upstream
  ##### Merging
  m = merge
  mt = mergetool
  ma = merge --abort
  mc = merge --continue
  ms = merge --skip
  ##### Rebasing
  rb = rebase
  rbi = rebase --interactive
  rba = rebase --abort
  rbc = rebase --continue
  rbs = rebase --skip
  ##### Pushing
  please = push --force-with-lease
  pf = push --force
  p = push
[core]
  editor = vim
  whitespace = trailing-space,space-before-tab
[color]
  ui = auto
[color "branch"]
  current = green
  local = yellow
  remote = red
[color "status"]
  added = green
  changed = red
  untracked = yellow
[diff]
  mnemonicprefix = true
  renames = copies
  tool = vimdiff
[merge]
  default = tracking
  tool = vimdiff
[rerere]
  enabled = 1
  autoupdate = 1
[branch]
  autosetuprebase = always
[push]
  default = current
