[user]
  name = NKBelousov
  email = belousovnikita92@gmail.com
[advice]
  statusHints = false
  pushNonFastForward = false
[alias]
  ##### Logs & History
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)[%an]%Creset' --abbrev-commit --date=short
  lga = "!f() { git lg --all $@; }; f"
  lgas = "!f() { git lga --stat $@; }; f"
  lgs = "!f() { git lg --stat $@; }; f"
  ##### Adding
  aa = add --all
  ai = add --interactive
  ap = add --patch
  ##### Branching
  bc = checkout -b
  bd = branch -D
  bl = branch --all
  ##### Staging
  ours = "!f() { git checkout --ours $@ && git add $@; }; f"
  theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"
  undo = checkout -p
  unstage = reset HEAD --
  ##### Stashing
  sa = "!f() { git stash apply stash@{$1}; }; f"
  sd = "!f() { git stash drop stash@{$1}; }; f"
  sl = stash list
  sp = "!f() { git stash pop stash@{$1}; }; f"
  ss = "!f() { git stash save -u $1; }; f"
  sv = "!f() { git stash show -p stash@{$1}; }; f"
  ##### Cherry-picking
  cp = cherry-pick
  cpa = cherry-pick --abort
  cpc = cherry-pick --continue
  ##### Fetching
  fa = fetch --all --prune --tags
  fu = fetch upstream
  ##### Merging
  m = merge
  ma = merge --abort
  mc = merge --continue
  ms = merge --skip
  mt = mergetool
  ##### Rebasing
  rb = rebase
  rba = rebase --abort
  rbc = rebase --continue
  rbi = rebase --interactive
  rbs = rebase --skip
  ##### Pushing
  p = push
  pf = push --force
  please = push --force-with-lease
  #### Utility
  aliases = "!f() { git config -l | grep alias | cut -c 7-; }; f"
  by-commit-count = "!f() { git shortlog -sn; }; f"
  by-loc-count = "!f() { git ls-files | while read f; do git blame -w -M -C -C --line-porcelain "$f" | grep -I '^author '; done | sort -f | uniq -ic | sort -n; }; f" 
  cfd = clean -fd
  files = show -p --pretty="" --name-only
  mostly-changed = "!f() { git log --name-only --pretty=\"\" | sort | uniq -c | sort -rg; };  f"
  rm-rr-cache = "!f() { rm -Rf ./.git/rr-cache/; }; f"
  wip = "!f() { git add . && git commit -m "wip" --no-verify; }; f"
[core]
  editor = vim
  whitespace = trailing-space,space-before-tab
  pager = diff-so-fancy | less --tabs=4 -RFX
[color]
  ui = true
[color "branch"]
  current = green
  local = yellow
  remote = red
[color "status"]
  added = green
  changed = red
  untracked = yellow
[diff]
  mnemonicprefix = true
  renames = copies
  tool = vimdiff
[merge]
  default = tracking
  tool = vimdiff
[rerere]
  autoupdate = 1
  enabled = 1
[branch]
  autosetuprebase = always
[push]
  default = current
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = yellow
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
