[user]
	name = NKBelousov
    email = belousovnikita92@gmail.com
[core]
    editor = vim
	whitespace = trailing-space,space-before-tab
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)[%an]%Creset' --abbrev-commit --date=short
    lga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)[%an]%Creset' --abbrev-commit --date=short --all
    whatadded = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)[%an]%Creset' --abbrev-commit --date=short --all --diff-filter=A --

    sl = stash list
    sd = stash drop
    sp = stash pop
    ss = stash sav

    cp = cherry-pick
    cpa = cherry-pick --abort
    cpc = cherry-pick --continue

    rb = rebase --interactive
    rba = rebase --abort
    rbc = rebase --continue
    rbs = rebase --skip

    undo = checkout -p
    unstage = reset HEAD --
    filelog = log -u
    mt = mergetool
[color]
	ui = auto
[color "branch"]
    current = green
    local = yellow
    remote = red
[color "status"]
    added = green
    changed = red
    untracked = yellow
[advice]
	statusHints = false
	pushNonFastForward = false
[diff]
	renames = copies
	mnemonicprefix = true
[push]
	default = tracking
[merge]
	tool = vimdiff
