extends javascript, css

snippet viewport "Responsive Meta Tag"
<meta name="viewport" content="width=device-width, initial-scale=1">
endsnippet

snippet script "Script declaration"
<script src="$1"></script>
endsnippet

snippet link "Link declaration"
<link href="$1" rel="$2"></link>
endsnippet
