snippet class "Class declaration"
<?php

class ${1:name} extends ${2:Parent}
{
	${3:declarations}
}
endsnippet

snippet interface "Interface declaration"
<?php

interface ${1:name}
{
	${2:declarations}
}
endsnippet

snippet imp "implements"
implements ${1:Interface}
endsnippet

snippet ext "extends"
extends ${1:Parent}
endsnippet
