snippet imp "import"
import ${1:module}
endsnippet

snippet fimp "from $1 import $2"
from ${1:name} import ${2:module}
endsnippet

snippet w "while"
while ${1:condition}:
    ${2:expressions}
endsnippet

snippet f "for"
for ${1:condition}:
    ${2:expressions}
endsnippet

snippet i "if"
if ${1:condition}:
    ${2:expressions}
endsnippet


snippet ie "if else"
if ${1:condition}:
    ${2:expressions}
${3:condition}
endsnippet

snippet p "print"
print(${1:message})
endsnippet
