extends scss, css

snippet imp "@import"
@import "${1:path}";
endsnippet

snippet inc "@include"
@include ${1:mixin};
endsnippet

snippet ext "@extend"
@extend ${1:selector};
endsnippet

snippet mix "@mixin"
@mixin ${1:name}(${2:params}){
  ${3:declarations}
}
endsnippet
