extends scss, css

snippet imp "@import"
@import "$1";
endsnippet

snippet inc "@include"
@include "$1";
endsnippet

snippet ext "@extend"
@extend $1;
endsnippet

snippet mix "@mixin"
@mixin $1($2){
  $3
}
endsnippet
